* {
  font-family: 'Roboto', sans-serif;
}

body {
  background: url(./black-background-close-up-colors-1356300.jpg) no-repeat center center fixed;
  width: 100%;
  height: auto;
}

h1 {
font-family: 'Roboto Slab', serif;
}

