* {
  font-family: 'Roboto', sans-serif;
}

body {
  background: url(background.jpg);
  background-size: cover;
  background-color: #FFFCFD;
  color: #FFFCFD;
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
}

main {
  display: flex;
}

h1 {
font-family: 'Roboto Slab', serif;
margin: auto;
}

a {
margin: auto;
color: #FFFCFD;
text-decoration: #FFFCFD;
}

.nav {
  list-style: none;
}

ul {
  display: flex; 
  justify-content: space-between;
}

li {
  display:flex;
/*  margin-right: 2em; */
}
