* {
  font-family: 'Roboto', sans-serif;
}

body {
  background-color: #FFFCFD;
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
}

h1 {
font-family: 'Roboto Slab', serif;
color: #395043;
margin: auto;

}

a {
  color: #395043;
margin: auto;

}

.nav {
  list-style: none;
}

ul {
  display: flex; 
}

li {
  margin-right: 2em;
}
